<div class="row about-row">
  <h2 class="content-header" align="center">About Me</h2>
  <hr class="featurette-divider">
  <div class="col-md-6 content-separator" align="center">
    <img id="about-image" src="/images/me.jpg">
  </div>
  <div class="col-md-6" align="center">
    <p id="about-paragraph">
      I am a software engineer currently living in Pittsburgh, Pennsylvania.
      I admire great design and functionality, therefore most of my work focuses on Front-End Web Development.
      I enjoy using HTML, CSS, and JavaScript to see how my work translates into fully functional mobile and desktop applications.
      I am also knowledgeable in software development with Java and system development with C.
      During my education, I gained experience working with version control software like GitHub, design UI/UX interfaces through user studies, and have practiced agile-scrum with numerous development teams.
      I am confident that I can implement my skills into a wide variety of applications.
      I'm also a vegetarian, nature lover, musician, and avid gamer. Feel free to contact me any time by email or through LinkedIn
    </p>
  </div>
</div>
