<div class="row portfolio-row-1" align="center">
  <h2 class="content-header" align="center">Portfolio and Coursework</h2>
  <hr class="featurette-divider">
  <div class="col-md-6 content-separator">
    <img class="pitt-cs-image portfolio-img" src="/images/csweb.png">
  </div>
  <div class="col-md-6">
    <h2 class="portfolio-header" id="pitt-header">The University of Pittsburgh's Computer Science Website</h2>
    <p class="portfolio-text">
      Designed and developed the upcoming website for The University of Pittsburgh's Computer Science Department.
      Conducted user studies to develop an intuitive UI/UX interface and then translated those findings into functional templates for implementation.
    </p>
    <p><a class="btn btn-default" href="#" role="button">See the code &raquo;</a></p>
  </div>
</div>
<div class="row portfolio-row-2" align="center">
  <div class="col-md-6 content-separator-left hidden-md-up" align="center">
    <img class="chess-image portfolio-img" src="/images/chess-application.png">
  </div>
  <div class="col-md-6">
    <h2 class="portfolio-header" id="chess-header">Chess Application</h2>
    <p class="portfolio-text">
      Developed the Java GUI interface for an interactive chess application.
      The design was based upon a number of paper prototypes and additional functionality requests by the customer.
      Work was done implementing the stockfish chess engine with the chess interface over a series two week sprints in an agile group of four software engineers.
    </p>
    <p id="chess-btn"><a class="btn btn-default" href="#" role="button">See the code &raquo;</a></p>
  </div>
  <div class="col-md-6 content-separator-left hidden-sm-down" align="center">
    <img class="chess-image portfolio-img" src="/images/chess-application.png">
  </div>
</div>
<div class="row portfolio-row-3" align="center">
  <div class="col-md-6 content-separator">
    <img class="calc-image portfolio-img" src="/images/calc-cpu.png">
  </div>
  <div class="col-md-6">
    <h2 class="portfolio-header" id="calc-header">Calculator CPU</h2>
    <p class="portfolio-text">
      A calculator program written in MIPS assembly language and a CPU designed in Logisism to run it.
      The CPU can load the machine code instructions from the assembly dump and run them with a calculator interface.
    </p>
    <p><a class="btn btn-default" href="#" role="button">See the code &raquo;</a></p>
  </div>
  <!-- <p class="col-md-12" id="see-more-text" align="center">See more on GitHub <i class="fa fa-github" aria-hidden="true"></i> github.com/petestamos</p> -->
</div>
