<div class="row education-row" align="center">
  <h2 class="content-header">Education</h2>
  <hr class="featurette-divider">
  <div class="col-md-6 content-separator">
    <img class="seal" id="pitt-seal" src="/images/pitt-seal.png">
    <h3 class="university-header">The University of Pittsburgh</h3>
    <p class="bs">BACHELOR OF SCIENCE IN COMPUTER SCIENCE</p>
    <p>Related Area | Mathematics</p>
    <p>January 2015 - December 2016</p>
  </div>
  <div class="col-md-6">
    <img class="seal" src="/images/ysu-seal.png">
    <h3 class="university-header">Youngstown State University</h3>
    <p class="bs">BACHELOR OF SCIENCE IN BIOLOGY</p>
    <p>Minor | Chemistry</p>
    <p>September 2010 - May 2014</p>
  </div>
</div>
