<div class="row footer-row">
  <div class="col-md-5"></div>
  <div class="col-md-2">
    <ul class="social-icons" align="center">
      <li><a href="#"><i class="fa fa-github-square" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
    </ul>
  </div>
  <div class="col-md-5"></div>
</div>
