<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- ================================================================
                      WEBPAGE INFORMATION
================================================================= -->

  <meta name="author" content="Peter Stamos <petestamos@gmail.com> (https://github.com/petestamos)">
  <meta name="description" content="A personal website">
  <meta name="keywords" content="Peter Stamos Personal Website">
  <link rel="canonical" href="https://#.com">
  <title>Peter Stamos | Software Developer</title>

<!-- ================================================================
                        FONT STYLESHEETS
================================================================= -->

  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">

<!-- ================================================================
                  CSS / BOOTSTRAP STYLESHEETS
================================================================= -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
  <script src="https://use.fontawesome.com/00cb17220a.js"></script>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
