<nav class="navbar navbar-default navbar-fixed-bottom bg-faded" id="nav-top">
  <div class="social-container">
		<ul class="nav navbar-nav social-icons">
			<li class="nav-item">
				<a target="_blank" href="https://linkedin.com/in/pestamos"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
			</li>
      <li class="nav-item">
        <a target="_blank" href="https://github.com/petestamos"><i class="fa fa-github-square" aria-hidden="true"></i></a>
      </li>
      <li class="nav-item">
        <a target="_blank" href="https://www.instagram.com/pestamos/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      </li>
			<li class="nav-item">
				<a target="_blank" href="https://plus.google.com/u/0/103477669948023435171"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
			</li>
		</ul>
	</div>
</nav>
