<div class="row skills-row">
  <h2 class="content-header" align="center">Programming Languages & Skills</h2>
  <hr class="featurette-divider">
  <div class="col-sm-2"></div>
  <div class="col-sm-4">
    <ul class="skillset first-set">
      <li>Web Design & Development</li>
      <li>Mobile Web Design & Development</li>
      <li>Software Application Development</li>
      <li>System Software Development</li>
      <li>UI/UX Design</li>
    </ul>
  </div>
  <div class="col-sm-4">
    <ul class="skillset second-set">
      <li>HTML / CSS (SASS) / JavaScript</li>
      <li>Bootstrap / Express JS / Node.js</li>
      <li>Java / C / MIPS / EJS</li>
      <li>GitHub Version Control</li>
      <li>Agile-Scrum Methodology</li>
    </ul>
  </div>
  <div class="col-sm-2"></div>
</div>
